.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
@media (max-width: 1100px) {
    .text {
        flex-direction: column;
    }
    .svg {
        height: 25rem;
    }
}
@media (max-width: 800px) {
    .svg {
        height: unset;
    }
}
@keyframes stretch {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes scale {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
@keyframes appear {
    0% {
        font-size: 0;
        opacity: 0;
    }
    1% {
        font-size: 4rem;
    }
    100% {
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    99% {
        font-size: 4rem;
    }
    100% {
        opacity: 0;
        font-size: 0;
    }
}
.hline, .vline {
    fill: var(--text);
    z-index: 10;
}
.hline {
    animation: stretch 1s linear 0s forwards;
}
.vline {
    transform-origin: 0 99%;
    animation: stretch 1s linear 0s forwards, rotate 1s linear 1s forwards;
}
.square {
    height: 0%;
    transform-origin: center;
    transform: scaleY(-1);
    fill: var(--primary);
    animation: scale 1s linear 2s forwards;
}
.meter {
    opacity: 0;
    font-size: 0;
    animation: appear 0.5s linear 1s forwards, disappear 0.5s linear 2.5s forwards;
}
.smeter {
    opacity: 0;
    font-size: 0;
    animation: appear 0.5s linear 2.8s forwards;
}
.svg {
    width: 50vw;
    text {
        fill: var(--text);
        font-size: 4rem;
    }
}