.select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .link {
        width: 30vw;
        background-color: var(--background-secondary);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 7%;
        text-align: center;
        margin: 2ch 0;
        transition: box-shadow 0.3s, transform 0.3s;
        p {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
        }
    }
}
.svg {
    height: 60%;
    polygon, rect {
        fill: var(--primary);
        stroke: var(--text);
        stroke-miterlimit: 10;
        stroke-width: 5px
    }
}
.select{
    .link:hover {
        box-shadow: 0 0 2em 0.5em var(--accent);
        transform: scale(1.05);
        cursor: pointer;
    }
}
@media (max-width: 900px) {
    .select {
        flex-direction: column;
        align-items: center;
        .link {
            width: 70vw;
            padding: 1em;
        }
    }
    .svg {
        width: 60%;
    }
}