.twod {
    margin-top: 100px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    gap: 1.7rem;
    justify-content: center;
    .link {
        background-color: var(--background-secondary);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 40px;
        text-align: center;
        transition: box-shadow 0.3s, transform 0.3s;
        p {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
        }
    }
}
.svg {
    height: 60%;
    polygon, rect, ellipse {
        fill: var(--primary);
        stroke: var(--text);
        stroke-miterlimit: 10;
        stroke-width: 5px
    }
}
.twod{
    .link:hover {
        box-shadow: 0 0 2em 0.5em var(--accent);
        transform: scale(1.05);
        cursor: pointer;
    }
}